{% extends "jepostule/embed/base.html" %}
{% load static %}

{% block content %}

{% if form_errors or attachments_form.errors %}
<div data-step="invalid">
    <div class="title"><h1>J'envoie ma candidature</h1></div>
    <div class="step-content center">
        Formulaire invalide, les paramètres suivants comportent des erreurs :

        {{ form_errors }}
        {{ attachments_form.errors }}
    </div>
</div>
{% endif %}

<div data-step="bienvenue">
    <div class="title"><h1>Postuler</h1></div>
    <div class="step-content center">
        <br>
        <br>
        <img src="{% static 'img/icons/envelope.svg' %}" alt="">
        <h2>Bonjour {{ form.cleaned_data.candidate_first_name }} {{ form.cleaned_data.candidate_last_name }}<br>
        <span class="subtitle">{{ form.cleaned_data.candidate_email }}</span></h2>
        <br>
        <p><b>Postulez en quelques clics<br>
            avec {{ platform_name }}</b></p>
        <div class="center"><a href="#infos" class="button">C'est parti !</a></div>
    </div>
</div>

<div data-step="infos">
    <div class="title">
        <h1>Postuler
            <div class="step-index">1/2</div><div class="disc">&nbsp;</div>
        </h1>
    </div>
    <div class="step-content">
        <a href="#bienvenue" class="back">retour</a>

        <h3>Vous recherchez un poste de</h3>
        <ul data-errors="job"></ul>
        <input type="text" name="job" value="{{ form.cleaned_data.job }}" placeholder="Chauffeur, Menuisier..." data-localstorage data-watchchanges>

        <h3>Remplissez vos coordonnées complémentaires</h3>
        <label for="candidate_phone">Votre numéro de téléphone</label>
        <ul data-errors="candidate_phone"></ul>
        <input type="tel" name="candidate_phone" placeholder="06 12 34 56 78" data-localstorage data-watchchanges>

        <label for="candidate_address">Votre adresse</label>
        <ul data-errors="candidate_address"></ul>
        <input type="text" name="candidate_address" placeholder="7 rue du temple 95130 Ermont" data-localstorage data-watchchanges>

        <h3>Vous pouvez personnaliser cet email</h3>
        <ul data-errors="message"></ul>
        <textarea name="message" data-localstorage data-watchchanges>{{ form.cleaned_data.message }}</textarea>

        <div class="center"><a href="#documents" class="button validate-application">Je continue</a></div>
    </div>
</div>

<div data-step="documents">
    <div class="title">
        <h1>Mes pièces jointes
            <div class="step-index">2/2</div><div class="disc">&nbsp;</div>
        </h1>
    </div>
    <div class="step-content">
        <a href="#infos" class="back">retour</a>
        <h3>Documents pour appuyer votre candidature (CV, lettre de recommandation ou de motivation, book, dossier...)</h3>
        <p></p>
        <p><b>Votre CV est essentiel pour les recruteurs</b>. Si vous n'en avez pas, <a href="https://www.emploi-store.fr/portail/centredinteret/preparersacandidature/cvEtLettreDeMotivation" rel="noopener" target="_blank">rendez-vous sur l'Emploi Store</a> pour le créer.</p>
        <input type="file" name="attachments" class="invisible" 
            multiple accept="video/*,image/*,application/pdf,application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        >
        <ul data-errors="attachments"></ul>
        <div class="attachments-list"></div>
        <div class="center">
            <button id="attachments-add">Ajouter un document</button>
            <a id="attachments-continue" href="#envoyer" class="button validate-attachments" style="display: none;">Je continue</a>
            <a id="no-attachments-continue" class="color-link" href="#envoyer">Je n'ai pas de documents à ajouter</a>
        </div>
    </div>
</div>

<div data-step="envoyer">
    <div class="title"><h1>Récapitulatif de ma candidature</h1></div>
    <div class="step-content">
        <a href="#documents" class="back">retour</a>
        <form action="{% url 'embed:candidater' %}" method="POST" enctype="multipart/form-data">
            {{ form.client_id }}
            {{ form.token }}
            {{ form.timestamp }}
            {{ form.siret }}
            {{ form.candidate_peid }}
            {{ form.candidate_rome_code }}
            {{ form.next_url }}

            <h3>L'entreprise à laquelle je candidate</h3>
            {{ form.employer_description }}
            {{ form.employer_email }}

            <h3>Le poste recherché</h3>
            <ul data-errors="job"></ul>
            {{ form.job }}
            <div class="modify-link"><a href="#infos" class="color-link">Modifier le poste recherché</a></div>

            <h3>Mes coordonnées</h3>
            <ul data-errors="candidate_address"></ul>
            <ul data-errors="candidate_phone"></ul>
            {{ form.candidate_first_name }} {{ form.candidate_last_name }}
            {{ form.candidate_address }}
            {{ form.candidate_email }}
            {{ form.candidate_phone }}
            <div class="modify-link"><a href="#infos" class="color-link">Modifier mes coordonnées</a></div>

            <h3>Mon email</h3>
            <ul data-errors="message"></ul>
            {{ form.message }}
            <div class="modify-link"><a href="#infos" class="color-link">Modifier mon email</a></div>

            <h3>Mes pièces jointes</h3>
            <ul data-errors="attachments"></ul>
            <div class="attachments-list attachments-no-delete"></div>
            <div class="modify-link"><a href="#documents" class="color-link">Modifier mes pièces jointes</a></div>

            <ul data-errors="send-confirmation"></ul>
            {{ form.send_confirmation }}{{ form.send_confirmation.label_tag }}

            <div class="progressbar" hidden><span></span></div>
            <div class="center"><button type="submit">Je postule</button></div>
        </form>
    </div>
</div>

<div data-step="fin"></div>

<div data-step="erreur">
    <div class="step-content center">
        <h2>Une erreur a eu lieu</h2>
        <p>Ce n'est pas de votre faute, c'est nous :-( Notre équipe technique a été prévenue du problème. Merci de ré-essayer dans quelques heures.</p>
    </div>
</div>

<div data-step="erreur-authentification">
    <div class="step-content center">
        <h2>Une erreur d'authentification a eu lieu</h2>
        <p>Il se peut que vous ayez été déconnecté trop longtemps. Veuillez ré-essayer de postuler en rechargeant la page. Si vous pensez que cette erreur n'est pas normale, merci de contacter l'équipe technique via le lien "Contact".</p>
    </div>
</div>
{% endblock %}
