{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <style>
            body {
                max-width: 800px;
                font-family: Verdana, sans-serif;
                margin: auto;
                background-color: #191C28;
            }
        </style>
    </head>
    <body>
        <h2>Fiche entreprise : Boucherie Sanzot</h2>

        <p>Je postule !</p>
        <iframe width="321px" height="900px" src="{{ iframe_url }}" frameborder="0"></iframe>
    </body>
</html>
