{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <style>
            body {
                max-width: 800px;
                font-family: Verdana, sans-serif;
                margin: auto;
                background-color: #808080;
            }
        </style>
    </head>
    <body>
        <h2>Fiche entreprise : Boucherie Sanzot</h2>

        <p>Je postule !</p>
        <iframe width="100%" height="900px" src="{{ iframe_url }}" frameborder="0"></iframe>
        <script>
            function onReceiveMessage(e) {
                var origin = window.location.protocol + "//" + window.location.host;
                if (e.origin === origin && e.data.topic === "jepostule") {
                    var data = e.data;
                    if (data.action === "resize") {
                        document.getElementById("jepostule").height = data.value;
                    } else if(data.action === "quit") {
                        window.location = data.label;
                    }
                }
            }
            window.addEventListener("message", onReceiveMessage, false);
        </script>
    </body>
</html>
