<!DOCTYPE html>
{% load static %}
{% load pipeline %}
<html>
    <head>
        <meta charset='utf-8'>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% stylesheet 'answer' %}
    </head>

    <body>
        <div class="title"><h1>{% block contenttitle %}{% endblock %}</h1></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% javascript 'polyfill' %}
        {% javascript 'answer' %}
        {% block scripts %}{% endblock %}
    </body>
</html>
