{% extends "jepostule/pipeline/answers/base.html" %}
{% block title %}{{ form.title }}{% endblock %}
{% block contenttitle %}{{ form.title }}{% endblock %}

{% block content %}
<p><b>{% block contentintro %}{% endblock %}</b></p>

<form action="{% url 'pipeline:preview_answer' answer_uuid=answer_uuid status=status  %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <p></p>
    <button type="submit">Voir le récapitulatif de votre email</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    tarteaucitron.user.gtagMore = function () {
        gtag('event', 'employeur', {
            'event_category': 'repondre',
            'event_label': '{{ form.event_label }}'
        });
    };
    tarteaucitron.user.analyticsMore = function () {
        ga('send', 'pageview', '/recruteur/{{ form.event_label }}/{{ form.event_label }}');
    };
</script>
{% endblock %}
