{% extends "jepostule/pipeline/answers/base.html" %}
{% block title %}{{ form.title }}{% endblock %}
{% block contenttitle %}Récapitulatif de votre email{% endblock %}

{% block content %}
<p><b>Objet :</b> {{ subject }}</p>
<br>
{{ message|safe }}

<form action="{% url 'pipeline:send_answer' answer_uuid=answer_uuid status=status  %}" method="POST">
    <div hidden>
        {% csrf_token %}
        {{ form }}
    </div>
    <button type="submit">Envoyer l'email</button>
</form>
<form action="{% url 'pipeline:modify_answer' answer_uuid=answer_uuid status=status  %}" method="POST">
    <div hidden>
        {% csrf_token %}
        {{ form }}
    </div>
    <button class="button-light" type="submit">Modifier la réponse</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    tarteaucitron.user.gtagMore = function () {
        gtag('send', 'employeur', {
            'event_category': 'previsualiser',
            'event_label': '{{ form.event_label }}'
        });
    };
</script>
{% endblock %}
