{% extends "jepostule/pipeline/answers/base.html" %}
{% block title %}{{ form.title }}{% endblock %}
{% block contenttitle %}Voici le récapitulatif de votre email{% endblock %}

{% block content %}
<p><b>Objet :</b> {{ subject }}</p>
{{ message|safe }}

<form action="{% url 'pipeline:send_answer' answer_uuid=answer_uuid status=status  %}" method="POST">
    <div hidden>
        {% csrf_token %}
        {{ form }}
    </div>
    <button type="submit">Envoyer l'email</button>
</form>
<form action="{% url 'pipeline:modify_answer' answer_uuid=answer_uuid status=status  %}" method="POST">
    <div hidden>
        {% csrf_token %}
        {{ form }}
    </div>
    <button class="button-light" type="submit">Modifier la réponse</button>
</form>
{% endblock %}
