html {
    background-color: #F2F2F2;
}
body {
    margin: 20px auto;
    background-color: white;
    color: #4A4A4A;
    font-size: 14px;
    max-width: 470px;
    margin: auto;
}
.title {
    position: relative;
    height: 70px;
    background-color: #7D3D8D;
    color: white;
    margin-top: 20px;
}
.title h1 {
    font-size: 22px;
    font-weight: normal;
    padding: 18px 32px;
    margin: 0;
}
.title h1 .step-index{
    position: absolute;
    top: 24px;
    right: 23px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
}
.title h1 .disc {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #B257C9;
    border-radius: 50%;
}
h2 {
    font-size: 17px;
    font-weight: bold;
}
h2 .subtitle {
    font-weight: normal;
    font-size: 16px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 16px 0 8px 0;
}
.invisible {
    opacity: 0;
    position: absolute;
    z-index: -1000;
}
.step-content {
    padding: 8px 32px 40px 32px;
    margin-bottom: 64px;
}
.modify-link {
    text-align: center;
    margin: 8px 0 32px 0;
}
a {
    color: #4A4A4A;
    text-decoration: none;
}
a:visited {
    color: #4A4A4A;
}
a.back, a.back:visited {
    display: inline-block;
}
a.color-link {
    color: #7D3D8D;
}
a.button, button {
    cursor: pointer;
    display: block;
    height: 45px;
    width: 100%;
    max-width: 300px;
    margin: 24px auto 20px auto;
    padding: 14px 0 14px 0;
    text-align: center;
    border: 1px solid #7D3D8D;
    border-radius: 3px;
    background-color: #7D3D8D;

    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
a.button:disabled, button:disabled {
    cursor: not-allowed;
    opacity: .5;
}
a.button.button-light, button.button-light {
    background-color: white;
    color: #7D3D8D;
}
input, textarea {
    font-size: 14px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 8px;
    margin: 8px 0 16px 0;
}
input[type="text"], input[type="email"], input[type="tel"] {
    height: 40px;
}
input[type="checkbox"] {
    vertical-align: bottom;
    margin-right: 10px;
}
textarea {
    height: 277px;
    padding: 16px;
    font-family: "Open Sans", "Verdana", "sans-serif";
}
form input, form input[type="text"], form input[type="email"], form input[type="tel"] {
    margin: 0;
    border: none;
    height: 18px;
    padding: 0;
}
form textarea {
    margin: 0;
}
.center {
    text-align: center;
}
.attachments-list ul, ul[data-errors], ul[data-attachments-errors] {
    padding-left: 0;
    list-style: none;
}
ul:empty {
    display: none;
}
.attachments-list ul li img {
    height: 12px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}
ul[data-errors], ul[data-attachments-errors] {
    color: red;
    margin: 0;
}
.attachments-list.attachments-no-delete img {
    display: none;
}
.progressbar {
    width: 100%;
    height: 20px;
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(209, 209, 209);
}
.progressbar span {
    display: block;
    width: 0;
    height: 100%;
    background-color: rgb(23, 145, 220);
}
img.success {
    margin: 80px 0 32px 0;
}
.quit {
    margin-bottom: 106px;
}
