{% extends "jepostule/pipeline/emails/_base_application.html" %}
{% block message %}
<p class="text-center">Candidature spontanée au poste de {{ data.job }}</p>
<br>
<br>
<p class="text-center"><b>Entreprise contactée</b></p>
<p class="text-center">
    {{ data.employer_description }}<br>
    {{ data.employer_email }}
</p>
<br>
<br>
<p class="text-center"><b>Candidature spontanée - {{ data.job }}</b></p>
<p>{{ data.message_html }}</p>
<br>
<br>
<p><b>N'hésitez pas à relancer cette entreprise si vous n'avez pas de nouvelle dans 15 jours.</b></p>
{% endblock %}
