{% extends "jepostule/pipeline/emails/_base_application.html" %}
{% block message %}
<p class="text-center">Candidature spontanée au poste de {{ job_application.job }}</p>
<br>
<br>
<p class="text-center"><b>Entreprise contactée</b></p>
<p class="text-center">
    {{ job_application.employer_description }}<br>
    {{ job_application.employer_email }}
</p>
<br>
<br>
<p class="text-center"><b>Candidature spontanée - {{ job_application.job }}</b></p>
<p>{{ job_application.message|linebreaksbr }}</p>
<br>
<br>
<p><b>N'hésitez pas à relancer cette entreprise si vous n'avez pas de nouvelle dans 15 jours.</b></p>
{% endblock %}
