<p style="margin: 0 0 10px; padding: 0;">{{ job_application.candidate_name }} vous propose de découvrir sa candidature</p>
<p style="margin: 32px 0 10px; padding: 0; font-weight: bold;" align="center">Candidature spontanée - {{ job_application.job }}</p>

<p style="margin: 0 0 10px; padding: 0;">{{ job_application.message|linebreaksbr }}</p>

<!--Vous pouvez répondre-->
<p style="margin: 32px 0 10px; padding: 0; font-weight: bold" align="center">Quelle réponse souhaitez-vous lui apporter ?</p>

<!--Liens réponse-->
<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
    <tbody>
        <tr style="vertical-align: top; padding: 0;" align="left">
            <th style="width: 177.33333px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 8px 16px 16px;" align="left">
                <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                    <tr style="vertical-align: top; padding: 0;" align="left">
                        <th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                            <p style="font-weight: bold; margin: 0 0 10px; padding: 0; border: 2px solid #D0021B; border-radius: 3px;" align="center"><a href="{{ jepostule_base_url }}{% url 'pipeline:send_answer' answer_uuid=job_application.answer_uuid status=job_application.ANSWER_REJECTION %}" style="color: #D0021B; text-decoration: none;" target="_blank">Refuser <br />la candidature</a></p>
                        </th>
                    </tr>
                </table>
            </th>
            <th style="width: 177.33333px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 8px 16px;" align="left">
                <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                    <tr style="vertical-align: top; padding: 0;" align="left">
                        <th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                            <p style="font-weight: bold; margin: 0 0 10px; padding: 0; border: 2px solid #F5A623; border-radius: 3px;" align="center"><a href="{{ jepostule_base_url }}{% url 'pipeline:send_answer' answer_uuid=job_application.answer_uuid status=job_application.ANSWER_REQUEST_INFO %}" style="color: #F5A623; text-decoration: none;" target="_blank">Demander plus <br />d'informations</a></p>
                        </th>
                    </tr>
                </table>
            </th>
            <th style="width: 177.33333px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px 8px;" align="left">
                <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                    <tr style="vertical-align: top; padding: 0;" align="left">
                        <th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                            <p style="font-weight: bold; margin: 0 0 10px; padding: 0; border: 2px solid #02BE72; border-radius: 3px;" align="center"><a href="{{ jepostule_base_url }}{% url 'pipeline:send_answer' answer_uuid=job_application.answer_uuid status=job_application.ANSWER_INTERVIEW %}" style="color: #02BE72;; text-decoration: none;" target="_blank">Proposer <br />un entretien</a></p>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>

<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
    <tbody>
        <tr style="vertical-align: top; padding: 0;" align="left">
            <td height="16px" style="line-height: 16px; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; mso-line-height-rule: exactly; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;" align="left" valign="top"> </td>
        </tr>
    </tbody>
</table> 

<!--Coordinates-->
<table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
    <tbody>
        <tr style="vertical-align: top; padding: 0;" align="left">
            <th style="width: 564px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
                <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                    <tr style="vertical-align: top; padding: 0;" align="left">
                        <th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                            <p style="margin: 0 0 10px; padding: 0;" align="center">Coordonnées complètes</p>
                            <p style="margin: 0 0 10px; padding: 0;" align="center">
                            {{ job_application.candidate_name }}<br />
                            {{ job_application.candidate_address }}<br />
                            {{ job_application.candidate_phone }}<br />
                            {{ job_application.candidate_email }}<br />
                            </p>
                        </th>
                        <th style="visibility: hidden; width: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0;" align="left">
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>
