{% extends "jepostule/pipeline/emails/base.html" %}
{% block title %}Proposition d'entretien d'embauche{% endblock %}

{% block content %}
<!--intro-->
<p style="margin: 0 16px 10px; padding: 0;">L'entreprise {{ answer.job_application.employer_description }} vous répond suite à votre candidature spontanée.</p>
<p style="font-weight: bold; margin: 0 16px 10px; padding: 0;" align="center">Proposition d'entretien d'embauche</p>
<p style="margin: 0 16px 10px; padding: 0;">L'entretien se déroulera {{ answer.location_verbose }}.</p>
<p style="margin: 0 16px 10px; padding: 0;">Si vous êtes disponible, {{ answer.employer_name }} aimerait vous rencontrer le {{ answer.datetime.date }} à {{ answer.datetime.time }}.</p>
{% if answer.message %}
<p style="margin: 0 16px 10px; padding: 0;">{{ answer.message|linebreaksbr }}</p>
{% endif %}

<!--demandes complémentaires-->
<p style="font-weight: bold; margin: 0 16px 10px; padding: 0;" align="center">Pour toute demande complémentaire au recruteur</p>
<p style="margin: 0 16px 10px; padding: 0;" align="center">
{{ answer.employer_name }}<br />
{{ answer.employer_phone }}<br />
{{ answer.employer_email }}<br />
{{ answer.employer_address }}
</p>
{% endblock %}
