body {
    max-width: 540px;
    margin: 100px auto;
    background-color: #FBFAFA;
    font-size: 14px;
    color: #4A4A4A;
}
.title {
    height: 70px;
    width: 100%;
    padding: 12px 0 0 0;
    background-color: #4A90E2;
    color: white;
    font-weight: bold;
    text-align: center;
}
.title h1 {
    font-size: 18px;
}
.content {
    background-color: white;
    padding: 16px 56px 16px 56px;
}
label {
    font-weight: bold;
    margin-top: 26px;
}
li label {
    font-weight: normal;
    margin-top: 0;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 11px;
    border: 1px solid #979797;
    border-radius: 3px;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"] {
    height: 40px;
}
ul {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}
ul li {
}
ul.errorlist {
    color: red;
    margin: 0;
}
form button {
    cursor: pointer;
    height: 48px;
    width: 100%;
    background-color: #4A90E2;
    color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 14px;
}
form button.button-light {
    color: #4A90E2;
    background: none;
    border: none;
    font-weight: normal;
}
.center {
    text-align: center;
}
img.img-result {
    margin: 56px auto;
}
p.discrimination-warning {
    margin-top: 0;
    font-size: 12px;
    /*margin-bottom: 0;*/
}

.text-center {
    text-align: center;
}
